my_framework/result_*/*.pt
my_framework/result_*/*.mp4
imaginaire/**/*.pt
imaginaire/**/*.tar.gz
imaginaire/**/*.tar
imaginaire/**/*.jpg
imaginaire/**/*.json
imaginaire/**/*.mp4
imaginaire/**/*.pyc
*.pyc
imaginaire/**/*.txt
imaginaire/**/*.pth
my_framework/**/*.png
my_framework/**/*.npy

